.DS_Store
*.asv
*.swp
*.kate-swp
__pycache__

# Latex
*.toc
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.bbl
*.bcf
*.blg
*.log
*.run.xml

nest/nest-build
nest/nest-extension-module
nest/nest-install
nest/nest-simulator
nest/delayed_eligibility_synapse/build
